body {
  font-family: "Andale Mono", "Courier new", Courier;
  font-size: 14px;
  margin: .5em 0;
  padding: 0;
  background-color: #dedede;
  color: #666666; }

p {
  margin: .2em 0;
  line-height: 1.4em; }

a {
  color: red;
  text-decoration: underline; }
  a:hover {
    color: blue; }
  a strong {
    color: inherit; }

strong {
  font-weight: normal;
  color: black; }

h1, h2, h3, h4 {
  font-weight: normal;
  margin: 0 0 .5em 0;
  color: #333333; }
  h1 a, h2 a, h3 a, h4 a {
    color: inherit;
    text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul li {
    margin-bottom: 1em; }
    ul li p {
      margin: 0; }

#wrapper {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  background-color: white;
  padding: 3%;
  min-height: 500px; }

#display_info {
  width: 45%;
  float: left;
  margin-left: 10%;
  padding-right: 1%; }
  @media screen and (max-width: 768px) {
    #display_info {
      margin-left: 0; } }
  @media screen and (max-width: 480px) {
    #display_info {
      width: 100%;
      float: none; } }

#id_info_cont {
  float: left;
  width: 24%;
  overflow: hidden; }
  #id_info_cont img {
    max-width: 100%; }
  @media screen and (max-width: 480px) {
    #id_info_cont {
      display: none; } }
  #id_info_cont h2 {
    margin-top: 0; }

#footer {
  width: 90%;
  clear: both;
  margin: 1% auto;
  text-align: center; }
  #footer p {
    margin: 2em auto 0 auto;
    font-size: .9em;
    line-height: 1.6em;
    width: 80%;
    text-align: center; }

#menu {
  color: #006600;
  width: 20%;
  float: left; }
  #menu li {
    margin: .2em 0; }
    @media screen and (max-width: 480px) {
      #menu li {
        margin: .8em 0; } }
  #menu a {
    color: inherit;
    text-decoration: none; }
    #menu a:hover {
      color: black; }
  @media screen and (max-width: 768px) {
    #menu {
      float: none;
      width: 100%;
      margin-bottom: 5%; } }
  @media screen and (max-width: 480px) {
    #menu {
      margin-bottom: 10%; } }

.print {
  background: url("../img/printer.png") no-repeat 0 0;
  padding: 0 0 0 2em;
  text-shadow: white 1px 1px 1px; }
  @media screen and (max-width: 480px) {
    .print {
      display: none; } }

ul.enum {
  padding-left: 1.1em;
  /* list-style-type:square; */
  list-style-image: url("../img/bullet.png"); }
  ul.enum li {
    margin-bottom: .25em; }

li.container {
  margin: .25em 0 3em 0; }
  li.container p {
    font-size: .9em;
    margin: .25em 0 1em 0; }

.url {
  display: none; }
