a.print {
  display: none; }

a {
  text-decoration: none; }

h2 {
  margin-top: 3em; }

h2.first {
  margin-top: 0; }

#menu {
  font-size: .8em; }

#wrapper, #footer {
  width: 100%; }

#footer {
  border-top: solid 1px #ccc; }
