@import "compass/css3";
@import "compass/utilities/lists/bullets";

$bg_color: #dedede;
$txt_color: #666;
$title_color: #333;
$strong_color: #000;
$link_color: #ff0000;
$link_hover: #0000ff;
$menu_color: #006600;
$wrapper_bg: #fff;

body {
	font-family: "Andale Mono", "Courier new", Courier; 
	font-size: 14px; 
	margin: .5em 0;
	padding: 0; 
	background-color: $bg_color; 
	color: $txt_color; }

p {
	margin: .2em 0; 
	line-height: 1.4em; }

a {color: $link_color; 
	text-decoration: underline;
	&:hover {color: $link_hover;} 
	strong {color: inherit;}	
}

strong {
	font-weight: normal;
	color: $strong_color; }


h1, h2, h3, h4 {
	font-weight: normal;
	margin: 0 0 .5em 0;
	color: $title_color;
	a {
		color: inherit;
		text-decoration: none;
	}
}


ul {
	list-style: none;
	margin: 0;
	padding: 0; 
	li { 
		margin-bottom: 1em ;
		p { margin: 0; } } }

#wrapper {
	width: 90%;
	max-width: 960px;
	margin: 0 auto;
	background-color: $wrapper_bg;
	padding: 3%;
	min-height: 500px;
}

#display_info {
	width: 45%;
	float: left;
	margin-left: 10%; 
	padding-right: 1%; 
	@media screen and (max-width: 768px) {
		margin-left: 0;
	} 
	@media screen and (max-width: 480px) {
		width: 100%;
		float: none;
	}
}

#id_info_cont {
	float: left;
	width: 24%;
	overflow: hidden;
	img { 
		max-width: 100%; 
	} 
	@media screen and (max-width: 480px) {
		display: none; 
	}
	h2 {margin-top: 0;}
}

#footer {
	width: 90%;
	clear: both;
	margin: 1% auto;
	text-align: center;
	p {
		margin: 2em auto 0 auto;
		font-size: .9em;
		line-height: 1.6em;
		width: 80%;
		text-align: center;
	}
}

#menu {
	color: $menu_color;
	width: 20%;
	float: left; 
	li {margin: .2em 0; 
		@media screen and (max-width: 480px) {
			margin: .8em 0;
		}
	} 

	a {
		color: inherit; 
		text-decoration: none;
		&:hover {color: $strong_color;} } 
	@media screen and (max-width: 768px) {
		float: none;
		width: 100%;
		margin-bottom: 5%; } 
	@media screen and (max-width: 480px) {
		margin-bottom: 10%;
	}
}


.print {
	background:url('../img/printer.png') no-repeat 0 0;
	padding: 0 0 0 2em;
	@include text-shadow(#fff, 1px, 1px, 1px);
	@media screen and (max-width: 480px) {
		display: none;
	}
}

ul.enum {
	padding-left: 1.1em;
	/* list-style-type:square; */
	list-style-image:url('../img/bullet.png');
	li { margin-bottom: .25em; } }

li.container {
	margin: .25em 1em 3em 0;
	p {
		font-size: .9em;
		margin: .25em 0 1em 0;
	}
	img {
		max-width: 80%;
	}
}

.url {display: none;}

